In [1]:
import pandas as pd
import json

## Deliverable 1: Extract
----
### Option 1: Use Python Dictionary Methods

1. Import the `backer_info.csv` file into a DataFrame.
2. Iterate through the DataFrame and convert each row to a dictionary. 
3. Iterate through each dictionary and do the following:
    * Extract the dictionary values from the keys using Python list comprehension.
    * Add the values for each row to a new list. 
4. Create a new DataFrame with the retrieved data. 
5. Export the DataFrame as `backers_data.csv`.

In [2]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)
back_info = "backer_info.csv"
backer_info_DF = pd.read_csv(back_info)
backer_info_DF.head()

                                                                                          backer_info
0        {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
1        {"backer_id": "ha127", "cf_id": 563, "name": "Hubert Arnold", "email": "harnold@yandex.com"}
2          {"backer_id": "lg794", "cf_id": 65, "name": "Loris Goulet", "email": "lgoulet@yandex.com"}
3  {"backer_id": "tb566", "cf_id": 563, "name": "Teodora Brunelli", "email": "tbrunelli@outlook.com"}
4               {"backer_id": "lh506", "cf_id": 563, "name": "Lexie Hunt", "email": "lhunt@live.com"}

In [3]:
backer_info_list = backer_info_DF.backer_info.to_list()
backer_info_list[0]

'{"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}'

In [4]:
# Iterate through the contact_info_df and convert each row to a dictionary.
new_columns = []
for i, row in backer_info_DF.iterrows():
    # Get the data first item in each row.
    data = row['backer_info']
    converted_data = json.loads(data)
    # Iterate through each dictionary (row) and get the values for each row using list comprehension.
    row_values = [v for k, v in converted_data.items()]
    # Append the list of values for each row to a new list. 
    new_columns.append(row_values)

# Print out the list of values for each row.
print(new_columns[0])

['av166', 968, 'Angelo Vincent', 'avincent@live.com']

In [5]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists. 
contacts_df = pd.DataFrame(new_columns, columns=['backer_id','cf_id', 'name','email'])
contacts_df

     backer_id  cf_id              name                  email
0        av166    968    Angelo Vincent      avincent@live.com
1        ha127    563     Hubert Arnold     harnold@yandex.com
2        lg794     65      Loris Goulet     lgoulet@yandex.com
3        tb566    563  Teodora Brunelli  tbrunelli@outlook.com
4        lh506    563        Lexie Hunt         lhunt@live.com
...        ...    ...               ...                    ...
8170     st581     65   Serita Thebault   sthebault@yandex.com
8171     gf637    563   Glenn Foerstner   gfoerstner@yahoo.com
8172     rc983   1114       Robt Collin    rcollin@outlook.com
8173     cz381     65      Corina Zappa     czappa@outlook.com
8174     fg535     65     Freeman Gibbs     fgibbs@outlook.com

[8175 rows x 4 columns]

In [6]:
# Export the DataFrame as a CSV file using encoding='utf8'.
contacts_df.to_csv("backer_info.csv", encoding="utf-8")

## Deliverable 1: Extract
----
### Option 2: Use regex 

1. Import the `backer_info.csv` file into a DataFrame. 
2. Extract the "backer_id", "cf_id", "name", and "email using regular expressions."
3. Create a new DataFrame with the retrieved data.
4. Export the DataFrame as `backers_data.csv`.

In [7]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)

In [8]:
# Extract the alpha-numeric "backer_id" from the backer_info column using a regex expression 
# and add it as a new column called "backer_id".

In [9]:
# Extract the two to four-digit "cf_id" number from the backer_info column. 
# and add it as a new column called "cf_id".

In [10]:
# Extract the name from the backer_info column and add it as a new column called "name".

In [11]:
# Extract the email from the backer_info column and add it as a new column called "email".

In [12]:
# Create a new DataFrame with the appropriate columns.

In [13]:
# Export the DataFrame as a CSV file using encoding='utf8'.

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [14]:
# Check data types.
contacts_df.dtypes

backer_id    object
cf_id         int64
name         object
email        object
dtype: object

In [15]:
# Convert cf_id to an integer if necessary.

In [16]:
# Split the "name" column into "first_name" and "last_name" columns.
contacts_df[['first_name', 'last_name']] = contacts_df['name'].str.split(' ', n=1, expand=True)

In [17]:
#  Drop the name column
contacts_df_dropped = contacts_df.drop(['name'], axis=1)

# Reorder the columns
contacts_df_reorder = contacts_df_dropped[["backer_id", "cf_id", "first_name", "last_name","email"]]
contacts_df_reorder.head()

  backer_id  cf_id first_name last_name                  email
0     av166    968     Angelo   Vincent      avincent@live.com
1     ha127    563     Hubert    Arnold     harnold@yandex.com
2     lg794     65      Loris    Goulet     lgoulet@yandex.com
3     tb566    563    Teodora  Brunelli  tbrunelli@outlook.com
4     lh506    563      Lexie      Hunt         lhunt@live.com

In [18]:
# Export the DataFrame as a CSV file using encoding='utf8'.
contacts_df_reorder.to_csv("backers.csv", encoding="utf-8", index=False)